.page-wrapper {
  display: flex;
  flex-direction: column;
  width: 72.63%;
  margin: 60px auto 0px auto;
  padding-bottom: 40px;
}

@media (max-width: 1156px) {
  .page-wrapper {
    width: 87.5%;
  }
}
