.card {
  display: flex;
  flex-direction: column;
  padding: 52px 40px 20px 40px;
  box-shadow: 0px 13px 19px rgb(0 0 0 / 7%);
  box-sizing: border-box;
}

.image-back {
  display: flex;
  width: 4.5rem;
  height: 4.5rem;
  background-color: #e74040;
  border-radius: 50%;
}

.image {
  display: flex;
  width: 2rem;
  height: 2rem;
  margin: auto;
}

.card-title {
  display: flex;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0.1px;
  margin-top: 1.3rem;
}

.separation-line {
  display: flex;
  width: 50px;
  border: 1px solid #e74040;
  margin-top: 5px;
}

.card-text {
  display: flex;
  font-size: 14px;
  line-height: 1.25rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: #737373;
  margin-top: 1.2rem;
}

@media (max-width: 1156px) {
  .card {
    padding-right: 0;
  }
}

@media (max-width: 500px) {
  .card {
    width: 100%;
  }

  .first-elem {
    order: 2;
  }

  .second-elem {
    order: 1;
  }
}
