html,
body {
  margin: 0px;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0px auto;
}

* {
  box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

#root {
  max-width: 1575px;
}
