.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 0.5rem;
}

.label_input {
  width: 100%;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}

.label_input__error {
  border: 2px solid rgb(188, 32, 32);
  border-radius: 5px;
}
